<div class="row">
  <h4>What's StudyTAG?</h4>
  <div class="col s12 m6 l8">
    <p>This,"StudyTAG" is a simple blog app. You can write your impressons into small yellow card called "TAG", and read back them by category of course contents.
    </p>
    <h5>Above all,let's try it first.<h5>
  </div>
  <div class="col s12 m6 l4">
    <div class="card yellow lighten-3 brown-text">
      <div class="card-content">
        <p>"This is a TAG. This contains a comment, review and impressions (sometimes complaint) of your study. You can share it in public and read your TAGs each other."</p>
        <div class="author"><span class="right">--<span class=" red-text text-darken-3">Author name is here</span></span>
        </div>
      </div>
      <div class="card-action">
        <span class="left">category:</span>
        <span class="truncate">What you study</span>
      </div>
    </div> 
  </div>


</div>
